ion-content ion-toolbar {
  --background: translucent;
}

#header-col {
  background: url("../../assets/heroimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

#header-card {
  height: calc(100vh - 70px);
}

ion-card-content {
  color: white;
  height: 100%;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

.tabcol {
  text-align: center;
}

.device-info ion-card-title, .device-info ion-card-subtitle {
  text-align: center;
}

.device-info {
  background-image: url(../../assets/info_bg.png);
  ackground-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.material-card {
  opacity: 0.9;
}
