<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      GreenLoop 
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <!-- <ion-col size-md="6" size="6" offset="3" offset-md="3"> -->
        <ion-col size="12" offset="">
        
        <ion-card id="header-card">
            <ion-card-content class="ion-no-padding ion-no-margin">
              <ion-grid class="ion-no-padding ion-no-margin">
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col size="6" class="ion-padding" style="align-items: center; display: flex; padding-left: 20px;" >
                  <div class="container">
                    <div>
                      <h1 style="font-size: 4.5em; font-family: monospace; font-weight: 600;" class="ion-padding-bottom">
                        Leading the way in <span style="color: var(--ion-color-primary);">Recycling</span> Materials
                      </h1>
                      <ion-searchbar style="width: 40%;" (search)="searchPhone($event)" hint="Material"></ion-searchbar>
                      <div style="text-align: left; margin-left: 5px; font-size: 2rem;">
                        <ion-button style=" font-size: 1rem; margin-top: 20px;" (click)="doImageDetection()" fill="outline" >Search by image</ion-button>

                      </div>
                    </div>
                  </div>
                </ion-col>
            
                <ion-col id="header-col" size="6" class="ion-no-padding ion-no-margin">
                  <!-- <img src="../../assets/heroimage.jpeg" alt="Image description" class="ion-no-padding ion-no-margin"> -->
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="loadingData" class="ion-padding">
          <ion-card-content style="text-align: center;" class="ion-padding">
            <ion-spinner></ion-spinner>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="this.phoneObj">
          <ion-card-header>
            <ion-card-title>
              {{ phoneObj.manufacturer + " " + phoneObj.commercialName }}
            </ion-card-title>
            <ion-card-subtitle>
              CO2 emissions: {{ phoneObj.co2Emission }}kg
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row *ngFor="let e of phoneObj.materials">
                <ion-col size="6">
                  {{ e.materialCode }}
                </ion-col>
                <ion-col size="6">
                  {{ e.amount }}g
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
</ion-content>
